.placeholder {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

.data {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 4px 0;
}