.App {
  text-align: center;
}

.loading--hover, .modal-backdrop, .modal-settings {
  position: fixed;
  top: 0;
  left: 0;
  right: 16rem;
  width: calc(100vw - 16rem);
  height: calc(100vh - 3rem);
  display: flex;
  align-items: flex-start;
  padding-top: 9rem;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-settings {
  height: 100vh;
}