.container {
    color: #f4f4f4;
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
}